@font-face {
  font-family: "Averia Serif Libre_18.0.0_google";
  src: url("../../../fonts/Averia Serif Libre-Bold_18.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Averia Serif Libre_18.0.0_google";
  src: url("../../../fonts/Averia Serif Libre-Bold_18.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Averia Serif Libre_18.0.0_google";
  src: url("../../../fonts/Averia Serif Libre-Bold_18.0.0_google.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Averia Serif Libre_18.0.0_google";
  src: url("../../../fonts/Averia Serif Libre-Bold_18.0.0_google.ttf");
  font-weight: 700; 
}